html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif; 
    background-color: #bfdbf7;
  }
  body{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    background-image: url('Images/bglogo.png'); 
    background-size:130%;
    background-position: center;
    background-repeat: no-repeat;
  }
  h1{
    font-size: 38px;
    color: #022b3a;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  h2{
    color: #022b3a;
    font-size:38px;
    text-align: center;
  }
  h3{
    padding: 2%;
    font-size: 16px;
    color: #022b3a;
  }
    p{
      font-size: 14px;
      color: #022b3a;
      padding: 2%;
      margin: 2%;
    
    }
    /* Navigation styles */
    header {
      border: 1px solid rgba(255, 255, 255, 0.8);
      margin-bottom: 10px;
      background-color: #F2F5F7;
      border-radius: 3px;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
    }
    
    nav {
      text-align: right;
      padding-top: 15px
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
    }
    
    nav ul li {
      padding: 8px 0;
      display: inline-block;
     
    }
    
    nav ul li a {
      color: rgb(19, 12, 12);
      text-decoration: none;
    }
    .show-items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }  
      .logo{
      width: 30%;
      top: 0%;
      }
      .button{
        border-radius: 30%;
        border-color: #022b3a;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
      }
      .wrapper-width1 {
        position: relative;
        max-width: 100% ;
        margin: 0 auto ;
        padding: 37px;
        background: url('Images/physic.jpg') center/cover no-repeat; 
        color: #fff;}
        .text-container1 {
          background-color: rgba(255, 255, 255, 0.5); 
          padding: 20px;
          border-radius: 8px;
        }
    
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px); 
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
  
      .btn{
      border-radius: 5%;
      border-color: #ffffff;
      background-color:#022b3a;
      text-decoration: none;
      margin: 1px;
      padding: 6px;
      color: #022b3a;
      transition: background-color 0.3s; 
      }
      .btn:hover {
        background-color: #1ca08e; 
      }
      .hero_img{
       width: 60%;
      }
.butn{
  border-radius: 5%;
  border-color: #ffffff;
  background-color:#022b3a;
  text-decoration: none;
  color:#ffffff;
  margin: 1px;
  padding: 6px;
  color: #ffffff; 
  font-weight: bold;
  transition: background-color 0.3s; 
}
.butn:hover {
  background-color: #1ca08e; 
}
.contentimg{
  width: 50%;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #022b3a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #1ca08e;
}

.links a{
  color: #022b3a; 
  text-decoration: none; 
  font-weight: bold;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  background-color: rgb(140, 165, 165);
}
  td,th {
 
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #022b3a;
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
table{
  width: 100%;
}
.appointment{
  
  text-align: center;
  width: 200px;
  border-radius: 2%;
  margin: 10px 80px;
  background-color:#022b3a;
  text-decoration: none;
  padding: 18px;
  
}
.appointment a{
  text-decoration: none;
  color: white;
  text-align: center;
}

/*===========================Contct Us======================================*/
/*-----form---*/
.form {
  max-width: 550px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 600px;
  margin: 15 px auto;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input,
textarea,
select {
  width: 99%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.wrapper-button {
  display: flex;
  justify-content: space-between;
}
input[type="reset"] {
  width: 150px;
  color: #022b3a;
  padding: 12px 20px;
  border: 1px solid #022b3a;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #d1efe3;
}

input[type="submit"] {
  width: 150px;
  background-color: #022b3a;
  color: white;
  padding: 12px 20px;
  border: 1px solid #022b3a;
  border-radius: 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1ca08e;
}
 /*=============================================================================================================*/
 /* Large devices (desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .hero{
        display: flex;
        flex-direction: row;
        padding: 200px ;
      }
    
      #nav-items {
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 20px 100px auto auto;
      }
h1{
      font-size: 50px;
      color: #022b3a;
      text-align: center;
      padding: 20px;
      margin: 20px;}
.butn{
  color: white;
  border-radius: 5%;
  border-color: #ffffff;
  background-color:#022b3a;
  text-decoration: none;
  margin: 27px;
  padding: 8px;
  text-emphasis-color: white;
}
/* why chose us*/
.content-flex{
  display: flex;
}
.content{
  margin: 0% 5%;
}
.feedback{
  display:flex;
}
.testimonials{
  display: flex;
  flex-direction: row;
  text-align: center;

}
.button{
  color: white;
  border-radius: 5%;
  border-color: #ffffff;
  background-color:#022b3a;
  text-decoration: none;
  margin: 27px;
  padding: 8px;
  text-emphasis-color: white;
}
/*===============================Services=======================================*/

table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: rgb(140, 165, 165);
}
  td,th {
  /*   border: 1px solid #ddd; */
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #022b3a;
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
.appointment{
  
  text-align: center;
  width: 200px;
  border-radius: 2%;
  
  background-color:#022b3a;
  text-decoration: none;
  margin: 20px 450px;
  padding: 18px;
  
}
.appointment a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.product {
  flex: 0 0 calc(25% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}
.fade-in {
  opacity: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
 
.btn{
  border-radius: 5%;
  border-color: #ffffff;
  background-color:#022b3a;
  text-decoration: none;
  color:#ffffff;
  margin: 10px;
  padding: 10px;
  color: #ffffff; 
  font-weight: bold;
  transition: background-color 0.3s; 
}
.btn:hover {
  background-color: #1ca08e; 
}


 /*===================Contact Us=====================*/

input[type="reset"] {
  color: #022b3a;
  padding: 12px 20px;
  border: 1px solid #022b3a;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #d1efe3;
}

input[type="submit"] {
  background-color: #022b3a;
  color: white;
  padding: 12px 20px;
  border: 1px solid #022b3a;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #022b3a;
}

/* ===============
   STRUCTURE
   =============== */

.wrapper-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* ===============
   FORM CONTROLS
   =============== */
   /**footer**/
   .footerr{
    margin-left: 5%;
    display: flex;
    gap: 4%;
    text-align: left;
   }
   
}

/*===============================Our Team=======================================*/

.team_img{
  margin: auto;
  display: block;
}